<div>
    <h2>Hello Todos From Angular</h2>
    <span>{{remaining()}} of {{todos.length}} remaining</span>

    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <br/>
    <ul class="unstyled">
        <li ng-repeat="todo in todos | filter:search">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.name}}</span>
            <a href="#/editTodo/{{todo._id}}"><i class="icon-pencil"></i></a>
        </li>
    </ul>
    <input ng-model="newTodo">
    <button ng-click="addTodo()">Add {{ newTodo }}</button>
    <button ng-click="archive()">Remove done ones</button>
</div>